.header-container {
  justify-content: space-between; /* Align buttons to the right */
  width: 100%;
  border-bottom: 0;
  padding: 0;
}

.floor {
  margin-bottom: 30px;
  padding: 15px;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 0px 5px var(--primary-color);
}

.floor h2 {
  font-size: 24px;
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 10px;
  margin: 0;
  margin-bottom: 10px;
}