<div class="card">
  <div class="card-header">
    <h4 class="card-title">Create DSF Sales Target</h4>
  </div>
  <div class="info-row" *ngIf="isTerritoryTargetShow">
    <span class="label">Territory:</span> <span class="value">{{ this.territoryName }}</span>
    <span class="label">Target Month:</span> <span class="value">{{ this.territoryTargetMonth| date: 'MMM, yyyy' }}</span>
    <span class="label">Target:</span> <span class="value">{{ this.territoryTarget }}</span>
  </div>
  
  <form [formGroup]="createSalesTargetForm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <mat-form-field>
              <mat-label>Territory</mat-label>
              <mat-select formControlName="territoryId" (selectionChange)="getDSFTargetsByTerritoryId()">
                <mat-option [value]=0>-- Select --</mat-option>
                <mat-option *ngFor="let option of territoryList" [value]="option.id">{{option.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div formArrayName="dsfTargetList">
            <div *ngFor="let dsfControl of dsfTargetList.controls; let i = index" [formGroupName]="i"
              class="row banner-row">
              <div class="col-md-8 d-flex align-items-center">
                <div class="territory-details ms-3">
                  <p class="territory-name">{{ dsfControl.get('userName')?.value }}</p>
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field appearance="fill" class="w-100">
                  <mat-label>Target</mat-label>
                  <input type="number" min="0"  matInput formControlName="target" />
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" data-bs-dismiss="modal" *ngIf="isTerritoryTargetShow" (click)="saveSalesTarget()">
        Save
      </button>
      <button [mat-dialog-close]="true" class="btn btn-danger ml-2" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </form>
</div>