<mat-card>
  <mat-card-header>
    <mat-card-title>View GST</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>From Date</mat-label>
          <input matInput type="text" value="{{this.data.element.fDate  | date : 'shortDate' }}" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>To Date</mat-label>
          <input matInput type="text" value="{{this.data.element.tDate  | date : 'shortDate' }}" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field>
          <mat-label>GST %</mat-label>
          <input matInput type="text" value="{{this.data.element.gstPer}}" readonly>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
      <div class="button-container">
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
  </mat-card-content>
</mat-card>