
<div class="card">
    <div class="card-header">
        <div class="header-container">
            <div class="card-title">Print IGP</div>
            <div>
                <button  mat-flat-button color="primary" type="button" class="print-button mr-2" (click)="printDocument()">
                    <span class="mat-button-wrapper">Print</span>
                </button>
                <button mat-flat-button color="default" [mat-dialog-close]="true">
                    <span class="mat-button-wrapper">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body" id="printDoc">
        <div class="container printCont">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row m-0 mb-3">
                            <div class="col-md-4 left_side">
                                <div class="logo mb-4">
                                    <img [src]="this.data.element.createdBy.department.company.logo" width="70px" height="70px" alt="SocietyImage">
                                    <span>{{this.data.element.createdBy.department.company.name}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12">
                                    <h2 style="font-weight: 600;"> <span style="border-bottom: 2px solid;">Inward Gate Pass</span> </h2>
                                </div>
                            </div>
                            <div class="col-md-4 right_side">
                                <table class="top_right">
                                    <tr>
                                        <th>IGP No.</th>
                                        <td>{{this.data.element.code}}</td>
                                    </tr>
                                    <tr>
                                        <th>IGP Date</th>
                                        <td>{{this.data.element.createdDate | date : 'shortDate'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Purchase Order No.</th>
                                        <td>{{this.data.element.purchaseOrder.code}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-md-12 p-0">
                            <table class="table_one">
                                <colgroup>
                                    <col span="1" style="width:10px">
                                    <col span="1" style="width:230px">
                                    <col span="1" style="width:50px">
                                    <col span="1" style="width:100px">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Sr.#</th>
                                    <th>Item</th>
                                    <th>Ordered Quantity</th>
                                    <th>Received Quantity</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let detail of this.data.element.igpDetails; let i = index">
                                    <td>
                                        {{i + 1}}
                                    </td>
                                    <td>
                                        {{detail.purchaseOrderDetail.purchaseDemandDetail.item.name}}
                                    </td>
                                    <td>
                                        {{detail.purchaseOrderDetail.quantity}}
                                    </td>
                                    <td>
                                        {{detail.received}}
                                    </td>
                                </tr>
                                <tr *ngFor="let blank of [].constructor(17 - this.data.element.igpDetails.length); let j = index">
                                    <td>
                                        {{this.data.element.igpDetails.length + j + 1}}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="remarks mt-3">
                                <span class="fw-bold" style="margin-right: 5px;">Remarks:</span>
                                <span>{{this.data.element.remarks}}</span>
                            </div>
                            <table class="mt-3">
                                <tbody><tr class="dates">
                                    <td style="background-color:#d9d9d9;">
                                        <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Prepared By</p>
                                    </td>
                                    <td style="background-color:#d9d9d9;">
                                        <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Date</p>
                                    </td>
                                </tr>
                                <tr class="sign">
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                                <tr class="dates">
                                    <td style="background-color:#d9d9d9;">
                                        <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Approved By</p>
                                    </td>
                                    <td style="background-color:#d9d9d9;">
                                        <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Date</p>
                                    </td>
                                </tr>
                                <tr class="sign">
                                    <td class=""></td>
                                    <td class=""></td>
                                </tr>
                            </tbody>
                        </table>
                            <div class="print_date mt-5">
                                <div><b>Print Date:</b></div>
                                <div>{{currentDate}}</div>
                                <div><b>Print Time:</b></div>
                                <div>{{currentTime}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="button-container m-0">
            <button mat-flat-button color="default" [mat-dialog-close]="true">
              <span class="mat-button-wrapper">Close</span>
            </button>
          </div>
    </div>
</div>

