  <mat-card>
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>Approve Purchase Demand</mat-card-title>
        <span class="badge badge-created" matTooltip="Status">{{ this.data.element.status.title}}</span>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <div class="row">
        <div class="col-md-2 col-lg-2">
          <mat-form-field >
            <mat-label>Demand No.</mat-label>
            <input matInput [value]="this.data.element.code" tabindex="-1" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-2 col-lg-2">
          <mat-form-field>
            <mat-label>Demand Date</mat-label>
            <input matInput [value]="this.data.element.createdDate| date : 'shortDate'" tabindex="-1" readonly>
        </mat-form-field>
        </div>

        <div class="col-md-2 col-lg-2">
          <mat-form-field class="form-field" >
            <mat-label>Demand No.</mat-label>
            <input matInput [value]="this.data.element.purchaseDemand.code" tabindex="-1" readonly>
          </mat-form-field>
        </div>
  </div>
  <div class="card" *ngFor="let detail of this.data.element.comparativeStatementDetail; let i = index">
    <div class="card-header">
      <div class="row">
        <div class="col-md-8">
          <div class="row m-0 align-items-center">
            <span class="items_nmbr">{{i + 1}}</span>
            <mat-form-field class="form-field m-0" style="width: 90%;">
              <input matInput [value]="detail.purchaseDemandDetail?.item?.code + ':' +  detail.purchaseDemandDetail?.item?.name" tabindex="-1" readonly>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <b>UOM : </b> <span style="color:red"> {{detail.purchaseDemandDetail?.item?.uom?.name || ''}} </span>
          <b>Quantity :</b> <span style="color:red"> {{detail.purchaseDemandDetail?.demandQty|| ''}} </span>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">

          <thead>
            <tr>
              <th>Sr.#</th>
              <th>Vendor</th>
              <th>Term & Condition</th>
              <th>Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vendordetail of detail.comparativeStatementVendor; let j = index">
              <td style="width: 10px;">
                {{j + 1}}
              </td>
              <td  style="width: 300px;">
                {{vendordetail.vendor?.name|| ''}} 
              </td>
              <td>
                {{vendordetail.vendor?.termsConditions|| ''}} 
              </td>
              <td>
                  {{vendordetail.price|| ''}} 
              </td>
              <td>
                {{vendordetail.price * detail.purchaseDemandDetail?.demandQty || ''}} 
            </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
    <mat-form-field>
      <mat-label>Remarks</mat-label>
      <input matInput [value]="this.data.element.remarks" type="text" readonly tabindex="-1">
    </mat-form-field>
  </div>
</div>
      <mat-divider></mat-divider>
      <div class="button-container">
        <button mat-flat-button color="success" type="button" (click)="approve()" tabindex="-1">
          <span class="mat-button-wrapper">Approve</span>
        </button>
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>