<mat-card>
  <mat-card-header>
    <div class="header-container">
      <mat-card-title>View Sale Material</mat-card-title>
      <span class="badge badge-created" matTooltip="Status">{{this.data.element.status.title}}</span>
    </div>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="row justify-content-center">
      <div class="col-md-2">
        <mat-form-field>
          <mat-label>Code</mat-label>
          <input matInput [value]="this.data.element.code" tabindex="-1" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Date</mat-label>
          <input matInput [value]="this.data.element.createdDate | date : 'shortDate'" tabindex="-1" readonly>
        </mat-form-field>
      </div>
      <div class="col-md-7">
        <mat-form-field class="form-field">
          <mat-label>Transfer To</mat-label>
          <input matInput [value]="this.data.element.transferTo?.name" tabindex="-1" readonly>
        </mat-form-field>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead>
              <tr>
                  <th>Sr.#</th>
                  <th>Item</th>
                  <th>UOM</th>
                  <th>Batch #</th>
                  <th>Rate</th>
                  <th>Quantity</th>
                  <th>Amount</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let detail of this.data.element.warehouseTransferDetail; let i = index">
                <!-- UOM Column -->
                <td style="width: 10px;">
                  {{i + 1}}
                </td>
                <!-- Item Column -->
                <td>
                    {{detail.item?.code }}  : {{detail.item?.name}}
                </td>

                   <!-- UOM Column -->
                <td>
                     {{detail.item?.uom?.name}}
                </td>

                <!-- Cost Sheet Column -->
                <td>
                     {{detail.costSheet?.code}}
                </td>

                <!-- Required Column -->
                <td>
                     {{detail.rate | number:'1.2-2'}}
                </td>

                <!-- Required Column -->
                <td>
                    {{detail.quantity | number:'1.2-2'}}
                </td>

                <!-- Required Column -->
                <td>
                       {{detail.rate * detail.quantity | number:'1.2-2'}}
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                  <th colspan="5">Total : </th>
                  <th colspan="1">{{this.Quantity | number:'1.2-2'}}</th>
                  <th colspan="1">{{this.TMaterialCost | number:'1.2-2'}}</th>
                </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 mt-2">
        <mat-form-field>
          <mat-label>Remarks</mat-label>
          <input matInput type="text" [value]="this.data.element.remarks" readonly>
        </mat-form-field>
      </div>
    </div>
    <mat-divider></mat-divider>
    <div class="button-container">
      <button mat-flat-button color="default" [mat-dialog-close]="true">
        <span class="mat-button-wrapper">Close</span>
      </button>
    </div>
  </mat-card-content>
</mat-card>