<div class="header-container">
    <h2>Assign Services</h2>
      <h3>{{data.element.appointment?.patient?.patientMaster?.name}}
    | MRN {{data.element.appointment?.patient?.mrn}} | Admission # {{data.element.appointment?.tokenNumber}}</h3>
  <div class="header-btns">
    <button mat-mini-fab aria-label="Add" color="success" (click)="openServiceDialog(data.element)" matTooltip="Assign Bed">
      <mat-icon>add</mat-icon>
    </button>

    <button mat-mini-fab aria-label="Add" color="warn" mat-dialog-close="true" matTooltip="Close">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<div class="body-container">
  <div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- <ng-container matColumnDef="vehicle">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Vehicle"> Vehicle </th>
        <td mat-cell *matCellDef="let element"> {{ element.vehicle.name }} </td>
      </ng-container> -->

      <ng-container matColumnDef="service">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Service"> Service </th>
        <td mat-cell *matCellDef="let element"> {{ element.service?.name }} </td>
      </ng-container>

      <ng-container matColumnDef="paymentMode">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Payment Mode"> Payment Mode </th>
              <td mat-cell *matCellDef="let element"> {{ element.paymentMode?.name }} </td>
      </ng-container>

      <ng-container matColumnDef="fee">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Fee"> Fee </th>
              <td mat-cell *matCellDef="let element"> {{ element.visitFee }} </td>
      </ng-container>

          <ng-container matColumnDef="discount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Discount"> Discount </th>
              <td mat-cell *matCellDef="let element"> {{ element.discount }} </td>
      </ng-container>
      
          <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Amount"> Amount </th>
              <td mat-cell *matCellDef="let element"> {{ element.totalPayable }} </td>
      </ng-container>

      <ng-container matColumnDef="paymentDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Payment Date"> Payment Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.paymentDate | date :'short' }} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 11%;"> Actions </th>
        <td mat-cell *matCellDef="let element">

          <button  mat-mini-fab matTooltip="Delete"  color="warn" (click)="deleteServiceDialog(element)">
            <mat-icon aria-label="Delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-divider></mat-divider>

    <mat-paginator #paginator
                  [length]="totalRows"
                  [pageIndex]="currentPage"
                  [pageSize]="take"
                  [pageSizeOptions]="pageSizeOptions"
                  (page)="pageChanged($event)"
                  aria-label="Select page">
    </mat-paginator>
  </div>
</div>
