<mat-card>
  <mat-card-header>
    <mat-card-title>Set Product Pricing of Group {{this.data.element.title}}
      ({{this.data.element.description}})</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="createPricingGroupDetailsForm">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div formArrayName="getProductGroupDetails">
              <div class="table-responsive p-0">
                <table class="table table-bordered table-striped datatable text-center">
                  <thead>
                    <tr class="mat-header-row">
                      <th>Product</th>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Volume</th>
                      <th>Quantity In Pack</th>
                      <th>Distributor Price</th>
                      <th>Distributor Promo</th>
                      <th>Net Distributor Price</th>
                      <th>Trade Price</th>
                      <th>Retail Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let productControl of getProductGroupDetails.controls; let i = index"
                      [formGroupName]="i">
                      <td><img [src]="productControl.get('imageName')?.value"
                          alt="{{ productControl.get('productName')?.value }}" class="product-image"></td>
                      <td>{{ productControl.get('productName')?.value }}</td>
                      <td>
                        <span class="badge"
                          [ngClass]="productControl.get('productType')?.value === 'Can' ? 'badge-primary' : productControl.get('productType')?.value === 'Bottle' ? 'badge-success' : ''">
                          {{ productControl.get('productType')?.value }}
                        </span>
                      </td>
                      <td>{{ productControl.get('volumeInMl')?.value }} ml</td>
                      <td>{{ productControl.get('quantityInPack')?.value }} Pcs</td>

                      <td>
                        <input type="number" [readonly]="this.data.element.isViewOnly" class="form-control"
                          [formControl]="$any(productControl.get('distributorPrice'))"
                          placeholder="Enter Distributor Price" min="1" step="1" (input)="validatePrice($event)">
                      </td>

                      <td>
                        <input type="number" [readonly]="this.data.element.isViewOnly" class="form-control"
                          [formControl]="$any(productControl.get('distributorPromo'))"
                          placeholder="Enter Distributor Promo" min="0" step="1" (input)="validatePrice($event)">
                      </td>

                      <td>
                        <input type="number" [readonly]="this.data.element.isViewOnly" class="form-control"
                          [formControl]="$any(productControl.get('netDistributorPrice'))"
                          placeholder="Net Distributor Price" min="1" step="1" (input)="validatePrice($event)">
                      </td>

                      <td>
                        <input type="number" [readonly]="this.data.element.isViewOnly" class="form-control"
                          [formControl]="$any(productControl.get('tradePrice'))" placeholder="Enter Trade Price" min="1"
                          step="1" (input)="validatePrice($event)">
                      </td>

                      <td>
                        <input type="number" [readonly]="this.data.element.isViewOnly" class="form-control"
                          [formControl]="$any(productControl.get('retailPrice'))" placeholder="Enter Retail Price"
                          min="1" step="1" (input)="validatePrice($event)">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <mat-divider></mat-divider>

      <div class="button-container">
        <button mat-flat-button *ngIf="!this.data.element.isViewOnly" color="success" type="button"
          (click)="saveProductPricingDetails()">
          <span class="mat-button-wrapper">Save</span>
        </button>
        <button mat-flat-button color="default" [mat-dialog-close]="true" style="margin-left: 10px;">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
