
<div class="row row-gap-4">
    <div class="col-lg-6">
        <div class="card">
            <app-category-list></app-category-list>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <app-subcategory-list></app-subcategory-list>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <app-itemtype-list></app-itemtype-list>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <app-item-list></app-item-list>
        </div>
    </div>
</div>