<form [formGroup]="dischargeForm">
  <mat-card>
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>IPD Discharge</mat-card-title>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <input type="hidden" formControlName="id" />
      <div class="row justify-content-center">
        <div class="col-md-3">
          <mat-form-field class="form-field">
            <mat-label>Discharge Date.</mat-label>
            <input matInput [matDatepicker]="dischargeDatePicker" formControlName="dischargeDateTime" tabindex="-1">
            <mat-datepicker-toggle matIconSuffix [for]="dischargeDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #dischargeDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-field">
            <mat-label>Operation/Delivery Date Time.</mat-label>
            <input matInput [matDatepicker]="operationDatePicker" formControlName="operationDeliveryDateTime" tabindex="-1">
            <mat-datepicker-toggle matIconSuffix [for]="operationDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #operationDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Diagnosis</mat-label>
            <textarea matInput formControlName="diagnosis"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>H.O.P.I.</mat-label>
            <textarea matInput formControlName="hopi"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Examination And Findings</mat-label>
            <textarea matInput formControlName="examinationAndFindings"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Investigations Results</mat-label>
            <textarea matInput formControlName="investigationsResults"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Procedure</mat-label>
            <textarea matInput formControlName="procedure"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Surgeon Name</mat-label>
            <input matInput formControlName="surgeonName" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Operative Findings</mat-label>
            <textarea matInput formControlName="operativeFindings"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Operation Notes</mat-label>
            <textarea matInput formControlName="operationNotes"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Condition At Discharge</mat-label>
            <textarea matInput formControlName="conditionAtDischarge"></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <mat-form-field>
            <mat-label>Treatment Advised At Discharge</mat-label>
            <textarea matInput formControlName="treatmentAdvisedAtDischarge"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-field">
            <mat-label>Proposed Follow Up Date Time.</mat-label>
            <input matInput [matDatepicker]="followUpDatePicker" formControlName="proposedFollowUpDateTime" tabindex="-1">
            <mat-datepicker-toggle matIconSuffix [for]="followUpDatePicker"></mat-datepicker-toggle>
            <mat-datepicker #followUpDatePicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field>
            <mat-label>Discharge Doctor</mat-label>
            <input matInput formControlName="dischargeDoctorId" />
          </mat-form-field>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-12">
          <mat-form-field>
            <mat-label>Diet And Instructions</mat-label>
            <textarea matInput formControlName="dietAndInstructions"></textarea>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="button-container">
        <button mat-flat-button color="success" type="button" (click)="SaveData()">
          <span class="mat-button-wrapper">Save</span>
        </button>
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>

<ng-template #documentView>
  <mat-card>
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>Discharge Documents</mat-card-title>
      </div>
      <div class="button-container">
        <button mat-mini-fab color="danger" [mat-dialog-close]="true">
          <mat-icon class="m-0">close</mat-icon>
        </button>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <mat-divider></mat-divider>
      <div class="button-container">
        <button mat-flat-button color="danger" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</ng-template>