<form [formGroup]="employeeDesignationForm">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ isEditMode ? 'Edit' : 'Create' }} Employee Designation Form</mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <input type="hidden" formControlName="id" />
      <div class="row">
        <div class="col-md-12">
          <mat-form-field style="width: 100%;">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" type="text">
          </mat-form-field>
        </div>

      </div>
      <mat-divider></mat-divider>
      <div class="button-container">
        <button mat-flat-button color="success" type="button" (click)="SaveData()">
          <span class="mat-button-wrapper">Save</span>
        </button>
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>