<div class="card">
  <div class="card-header">
    <h4 class="card-title">Approve/Reject Shop</h4>
  </div>
  <form [formGroup]="viewShopForm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field>
              <mat-label>Region</mat-label>
              <input matInput placeholder="Region" formControlName="region" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field>
              <mat-label>Zone</mat-label>
              <input matInput placeholder="Zone" formControlName="zone" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field>
              <mat-label>Area</mat-label>
              <input matInput placeholder="Area" formControlName="area" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field>
              <mat-label>Territory</mat-label>
              <input matInput placeholder="Territory" formControlName="territory" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Shop Name</mat-label>
              <input matInput placeholder="Shop Name" formControlName="name" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Distributor</mat-label>
              <input matInput placeholder="Distributor" formControlName="distributor" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Owner Name</mat-label>
              <input matInput placeholder="Owner Name" formControlName="ownerName" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Phone No</mat-label>
              <input matInput placeholder="Phone No" formControlName="phoneNo" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Secondary Phone No</mat-label>
              <input matInput placeholder="Secondary Phone No" formControlName="secondaryPhoneNo" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Opening Time</mat-label>
              <input matInput placeholder="Opening Time" formControlName="openingTime" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Closing Time</mat-label>
              <input matInput placeholder="Closing Time" formControlName="closingTime" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Is Verified</mat-label>
              <input matInput placeholder="Is Verified" formControlName="isVerified" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Tag From Mob</mat-label>
              <input matInput placeholder="Tag From Mob" formControlName="isTagFromMob" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Created Date</mat-label>
              <input matInput placeholder="Created Date" formControlName="createdDate" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Created By</mat-label>
              <input matInput placeholder="Created By" formControlName="createdBy" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Verified Date</mat-label>
              <input matInput placeholder="Verified Date" formControlName="verifiedDate" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Verified By</mat-label>
              <input matInput placeholder="Verified By" formControlName="verifiedBy" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Landmark</mat-label>
              <input matInput placeholder="Landmark" formControlName="landmark" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Address</mat-label>
              <input matInput placeholder="Address" formControlName="address" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Pepsi Fridge</mat-label>
              <input matInput type="number" placeholder="Pepsi Fridge" formControlName="pepsiFridge" min="0" max="10"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Coke Fridge</mat-label>
              <input matInput type="number" placeholder="Coke Fridge" formControlName="cokeFridge" min="0" max="10"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-2">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Nestle Fridge</mat-label>
              <input matInput type="number" placeholder="Nestle Fridge" formControlName="nestleFridge" min="0" max="10"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Nesfruta Fridge</mat-label>
              <input matInput type="number" placeholder="Nesfruta Fridge" formControlName="nesfrutaFridge" min="0"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-3">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Others Fridge</mat-label>
              <input matInput type="number" placeholder="Others Fridge" formControlName="othersFridge" min="0" max="10"
                readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <mat-label>Pin Location</mat-label>
              <textarea matInput placeholder="Pin Location" rows="4" formControlName="pinLocation" readonly>
              </textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-6">
          <div class="mb-3">
            <button mat-flat-button color="default" class="btn btn-primary" (click)="viewPinLocation()">
              <i class="fa fa-map-marker"></i> View Pin Location
            </button>
          </div>
        </div>
        <!-- <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Scheduler" formControlName="scheduler" readonly />
            </mat-form-field>
          </div>
        </div> -->

        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12 mt-3">
              <div class="d-inline-flex flex-wrap w-100">
                <div class="uploaded_doc_wrap" *ngFor="let document of this.documents; let dIndex = index">
                  <div class="file_upload text-center doucment_wrap">
                    <div class="w-100 d-inline-block" (click)="GetDocument($event, dIndex, documentView)">
                      <!-- <div class="fa fa-file-text-o"></div>
                      <div class="" style="font-size: 12px; font-weight: 900;margin-left: 10px">
                        {{document?.id != 0 ? document?.imageName?.split('/assets/Files/')[1] : document?.imageName }}
                      </div> -->
                      <img style="width: -webkit-fill-available;" src="{{ document?.imageName }}">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
       <div class="col-md-12">
  <div class="mb-3">

      <mat-form-field class="example-full-width">
      <mat-label>History</mat-label>
      <textarea matInput rows="4" [value]="this.data.element.remarks" readonly></textarea>
    </mat-form-field>
  </div>
</div>
    <div class="col-md-12">
  <div class="mb-3">

      <mat-form-field class="example-full-width">
      <mat-label>Remarks</mat-label>
      <textarea matInput rows="4" formControlName="remarks"></textarea>
    </mat-form-field>
  </div>
</div>

    <div class="button-container">
        <button mat-flat-button color="success" type="button" (click)="approve()">
          <span class="mat-button-wrapper">Approve</span>
        </button>
          <button mat-flat-button color="warn" type="button" (click)="reject()">
          <span class="mat-button-wrapper">Reject</span>
        </button>
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
  </form>
</div>

<ng-template #documentView>
  <div class="card">
    <div class="card-body" style="height: 700px;">
      <iframe width="100%" height="100%" frameBorder="0" [src]="urlSafe"></iframe>
    </div>
    <div class="card-footer">
      <button class="btn btn-danger" [mat-dialog-close]>Close</button>
    </div>
  </div>
</ng-template>