#message {
    font-family: var(--mat-card-title-text-font);
    display: inline-block;
    width: 100%;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-bottom: 20px;
}

#message h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

#message p {
    padding: 5px;
    font-size: 16px;
    margin: 0;
}

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -5px;
    content: "✔";
}

.invalid {
    color: #f44336;
}

.invalid:before {
    position: relative;
    left: -5px;
    content: "✖";
}