<mat-card>
  <mat-card-header>
    <mat-card-title>Reset Password Form</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="resetPasswordForm">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label> User Name </mat-label>
            <input matInput value="{{this.data.element.email}}" type="text" [readonly]="isEditMode">
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field appearance="outline" class="form-field">
            <mat-label> Password </mat-label>
            <input matInput formControlName="password" [type]="PasswordNew ? 'text' : 'password'">
            <mat-icon matSuffix (click)="PasswordVisibilityNew()">
              {{PasswordNew?'visibility':'visibility_off'}}
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="col-md-12" *ngIf="resetPasswordForm.get('password')?.value.length > 0">
          <div id="message">
            <h3>Password must contain the following:</h3>
            <p id="letter" [ngClass]="{'valid': passwordRequirements.hasLowerCase, 'invalid': !passwordRequirements.hasLowerCase}">
              A <b>lowercase</b> letter
            </p>
            <p id="capital" [ngClass]="{'valid': passwordRequirements.hasUpperCase, 'invalid': !passwordRequirements.hasUpperCase}">
              A <b>capital (uppercase)</b> letter
            </p>
            <p id="number" [ngClass]="{'valid': passwordRequirements.hasNumber, 'invalid': !passwordRequirements.hasNumber}">
              A <b>number</b>
            </p>
            <p id="special" [ngClass]="{'valid': passwordRequirements.hasSpecialCharacter, 'invalid': !passwordRequirements.hasSpecialCharacter}">
              A <b>special character</b>
            </p>
            <p id="length" [ngClass]="{'valid': passwordRequirements.hasMinimumLength, 'invalid': !passwordRequirements.hasMinimumLength}">
              Minimum <b>9 characters</b>
            </p>
          </div>
        </div>
      </div>

      <div class="button-container">
        <button mat-flat-button color="success" type="button" (click)="SaveData()">
          <span class="mat-button-wrapper">Save</span>
        </button>
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>

    </form>
  </mat-card-content>
</mat-card>
