<mat-card>
  <mat-card-header><mat-card-title>View Lab Order</mat-card-title></mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="form-field"><mat-label>Appointment Id</mat-label><input matInput formControlName="appointmentId" readonly /></mat-form-field>
      <mat-form-field class="form-field"><mat-label>Lab Order Type Id</mat-label><input matInput formControlName="labOrderTypeId" readonly /></mat-form-field>
      <mat-form-field class="form-field"><mat-label>Status Id</mat-label><input matInput formControlName="statusId" readonly /></mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
