<mat-card>
  <mat-card-header>
   <mat-card-title>
  <mat-icon [attr.aria-label]="isEdit ? 'Edit' : 'Save'">
    {{ isEdit ? 'edit' : 'save' }}
  </mat-icon>
  {{ isEdit ? 'Edit Service' : 'Add Service' }}
</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="form">
      <div class="row justify-content-center">
        <div class="col-md-3">
          <mat-form-field style="width: 100%;">
            <mat-label>Code</mat-label>
            <input matInput formControlName="code" type="text" readonly class="text-center">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <mat-form-field class="form-field">
            <mat-label>Service Type</mat-label>
            <mat-select formControlName="serviceTypeId">
              <mat-option value="">Select Service Type</mat-option>
              <mat-option *ngFor="let serviceType of serviceType" [value]="serviceType.id">{{ serviceType.name
                }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-field">
            <mat-label>Department</mat-label>
            <mat-select formControlName="departmentId">
              <mat-option value="">Select Department</mat-option>
              <mat-option *ngFor="let dept of departments" [value]="dept.id">{{ dept.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-field">
            <mat-label>Name *</mat-label>
            <input matInput formControlName="name" placeholder="Enter name" />
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="form-field">
            <mat-label>Base Price *</mat-label>
            <input matInput formControlName="basePrice" type="number" placeholder="Enter base price" />
          </mat-form-field>
        </div>
          <div class="col-md-12">
      <mat-form-field >
        <mat-label>Description</mat-label>
        <textarea matInput rows="2" formControlName="description">
        </textarea>
      </mat-form-field>
          </div>
        <div class="col-md-12">
          <mat-checkbox formControlName="isSurgical">Is Surgical</mat-checkbox>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="button-container">
         <button mat-raised-button
                color="primary"
                type="button"
                (click)="save()"
                [disabled]="isLoading || form.invalid">
          <i class="fas fa-save" style="margin-right: 6px;"></i>
          {{ isLoading ? 'Saving...' : 'Save' }}
          <mat-spinner diameter="20" *ngIf="isLoading" style="display:inline-block; margin-left:8px;"></mat-spinner>
        </button>


        <button mat-stroked-button
                [mat-dialog-close]="true"
                type="button">
          <i class="fas fa-times"></i> Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>