<div class="header-container">
  <h2>Roster</h2>
  <button mat-mini-fab aria-label="Add" color="success" *ngIf="!roleList?.includes('audit')"
    (click)="openRosterDialog(null)" matTooltip="Add Roster">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="body-container">
  <form [formGroup]="RosterFilterForm">
    <div class="row">
      <div class="col-lg-2 col-md-3">
        <div class="mt-2">
           <mat-form-field  class="form-field">
            <mat-label>Department</mat-label>
            <mat-select formControlName="departmentId"  (selectionChange)="filterData()">
            <mat-option [value]="">All</mat-option>
              <mat-option *ngFor="let department of departmentList" [value]="department.id">
                 {{ department.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="mt-2">
        <mat-form-field  class="form-field">
            <mat-label>Year</mat-label>
            <mat-select formControlName="year"  (selectionChange)="filterData()">
              <mat-option *ngFor="let y of years" [value]="y">
                {{ y }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
     <div class="col-lg-2 col-md-3">
        <div class="mt-2">
        <mat-form-field  class="form-field">
            <mat-label>Month</mat-label>
            <mat-select formControlName="month"  (selectionChange)="filterData()">
              <mat-option *ngFor="let m of months" [value]="m.value">
                {{ m.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-lg-2 col-md-3">
        <div class="mt-2">
          <button mat-mini-fab color="primary" matTooltip="Reset Filters" (click)="resetForm()">
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </form>
  <mat-divider></mat-divider>
  <div class="table-responsive mt-3">
    <mat-tab-group [selectedIndex]="selected.value" (selectedIndexChange)="selected.setValue($event)"
      (selectedTabChange)="changeTab($event)">
      <mat-tab *ngFor="let tab of tabs; let index = index" [label]="tab.posessionStatusValues" value="tab.id">
        <ng-template style="padding-top: 8px; padding-left: 3px;" mat-tab-label>
          <span id="tabHeading">
            {{tab.posessionStatusValues}} <span id="spn_pCounts">({{tab.pCount}})</span>
          </span>
        </ng-template>
      </mat-tab>
    </mat-tab-group>

    <app-roster-list (onPopupClose)="onPopupClose()" (getRosterCount)="getRosterCount()"></app-roster-list>
  </div>
</div>