<div class="header-container">
  <h2>Blood Donations</h2>
  <button mat-mini-fab aria-label="Add" color="success" (click)="openDialog(null)" matTooltip="Add">
    <mat-icon>add</mat-icon>
  </button>
</div>
<div class="body-container">
  <form [formGroup]="filterForm">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field class="form-field" style="width:100%">
          <mat-label>Donor Name</mat-label>
          <input matInput appBloodBankTextOnly formControlName="donorName" maxlength="50" (keyup)="filterData()">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field class="form-field" style="width:100%">
          <mat-label>Donor CNIC</mat-label>
          <input matInput appBloodBankCnic formControlName="donorCNIC" placeholder="32020-5555555-5" (keyup)="filterData()">
        </mat-form-field>
      </div>
    </div>
  </form>
  <div class="mat-elevation-z8 table-responsive mt-2">
    <table mat-table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
        <td mat-cell *matCellDef="let element">{{ element.donationCode }}</td>
      </ng-container>
      <ng-container matColumnDef="patient">
        <th mat-header-cell *matHeaderCellDef>Patient</th>
        <td mat-cell *matCellDef="let element">
          <div>{{ getPatientName(element) }}</div>
          <small *ngIf="element.appointment">{{ getAppointmentToken(element) }}</small>
        </td>
      </ng-container>
      <ng-container matColumnDef="donor">
        <th mat-header-cell *matHeaderCellDef>Donor</th>
        <td mat-cell *matCellDef="let element">{{ getDonorName(element) }}</td>
      </ng-container>
      <ng-container matColumnDef="cnic">
        <th mat-header-cell *matHeaderCellDef>CNIC</th>
        <td mat-cell *matCellDef="let element">{{ getDonorCnic(element) }}</td>
      </ng-container>
      <ng-container matColumnDef="componentType">
        <th mat-header-cell *matHeaderCellDef>Component</th>
        <td mat-cell *matCellDef="let element">{{ getComponentTypeName(element) }}</td>
      </ng-container>
      <ng-container matColumnDef="bloodGroup">
        <th mat-header-cell *matHeaderCellDef>Blood Group</th>
        <td mat-cell *matCellDef="let element">{{ getBloodGroupName(element) }}</td>
      </ng-container>
      <ng-container matColumnDef="donationDate">
        <th mat-header-cell *matHeaderCellDef>Donation Date</th>
        <td mat-cell *matCellDef="let element">{{ element.donationDate | date:'dd-MMM-yyyy' }}</td>
      </ng-container>
      <ng-container matColumnDef="volume">
        <th mat-header-cell *matHeaderCellDef>Volume</th>
        <td mat-cell *matCellDef="let element">{{ element.volume }}</td>
      </ng-container>
      <ng-container matColumnDef="screeningStatus">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element">{{ getScreeningStatusText(element.screeningStatus) }}</td>
      </ng-container>
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 11%;">Actions</th>
        <td mat-cell *matCellDef="let element">
          <div class="action_btns">
            <button mat-mini-fab matTooltip="Edit" color="primary" (click)="openDialog(element)"><mat-icon>edit</mat-icon></button>
            <button mat-mini-fab matTooltip="View" color="dark" (click)="viewDialog(element)"><mat-icon>visibility</mat-icon></button>
            <button mat-mini-fab matTooltip="Delete" color="warn" (click)="deleteDialog(element)"><mat-icon>delete</mat-icon></button>
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="take"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)"></mat-paginator>
  </div>
</div>
