.header-container {
  justify-content: space-between; /* Align buttons to the right */
  width: 100%;
  border-bottom: 0;
  padding: 0;
}


.btn-file>input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 23px;
  cursor: pointer;
  filter: alpha(opacity=0);
  opacity: 0;
  direction: ltr;
}

.btn-file {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.mat-button.btn.btn-rose,
.mat-raised-button.btn.btn-rose,
.mat-raised-button.btn:not([class*=mat-elevation-z]).btn-rose,
.btn.btn-rose {
  color: #fff;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: 0 2px 2px 0 rgba(233, 30, 99, 0.14), 0 3px 1px -2px rgba(233, 30, 99, 0.2), 0 1px 5px 0 rgba(233, 30, 99, 0.12);
  padding: 10px 15px;
  border-radius: 5px;
}

.media_wrap {
  width: 100%;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.uploaded_doc_wrap .file_upload {
  width: 175px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  border-radius: 4px;
  -webkit-user-select: none;
  user-select: none;
  position: relative;
  min-height: 100px;
  max-height: 100px;
  border: 1px solid lightgray;
}

.file_upload {
  background-color: #ffffff;
  padding: 20px;
  margin: 5px;
  border-radius: 10px;
}

.remove_btn {
  position: absolute;
  top: 1%;
  right: 1%;
  background: #f44336;
  color: var(--white-color) !important;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}