<mat-card>
  <mat-card-header><mat-card-title>View Radiology Type</mat-card-title></mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" readonly />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Service</mat-label>
        <input matInput formControlName="serviceId" [value]="data.element?.serviceName || '-'" readonly />
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
