<div class="header-container">
  <h2>Account SubCategory</h2>
  <button mat-mini-fab aria-label="Add" color="success" (click)="openAccountSubcategoryDialog(null)" matTooltip="Add Sub Category">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="body-container">
  <form [formGroup]="AccountSubcategoryFilterForm">
    <div class="row">
      <div class="col-md-6">
        <div class="mt-2">
          <mat-form-field  class="form-field" >
            <mat-label>Account Category</mat-label>
            <mat-select formControlName="accountCategoryId" (selectionChange)="filterData()">
              <mat-option value="">--ALL--</mat-option>
              <mat-option *ngFor="let category of categoryList" [value]="category.id" >
                {{ category.code }} :  {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mt-2">
          <mat-form-field  class="form-field">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" (keyup)="filterData()">
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>

  <div class="mat-elevation-z8 table-responsive mt-2">

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Columns -->

           <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Category </th>
        <td mat-cell *matCellDef="let element" class="tbl_category"> {{ element.accountCategory.code }} : {{ element.accountCategory.name }} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
      </ng-container>

 

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
        <td mat-cell *matCellDef="let element" class="tbl_created"> {{ element.createdBy?.firstName + ' ' + element.createdBy?.lastName }} </td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company </th>
        <td mat-cell *matCellDef="let element" class="tbl_compny"> {{ element.company?.name }} </td>
      </ng-container>

      <!-- Actions column definition -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 11%;"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="action_btns">
          <button mat-mini-fab matTooltip="Edit" color="primary" (click)="openAccountSubcategoryDialog(element)">
            <mat-icon aria-label="Edit" >edit</mat-icon>
          </button>

          <button mat-mini-fab matTooltip="View" color="dark" (click)="viewAccountSubcategoryDialog(element)">
            <mat-icon aria-label="View" >visibility</mat-icon>
          </button>

          <button mat-mini-fab matTooltip="Delete" color="warn" (click)="deleteAccountSubcategoryDialog(element)">
            <mat-icon aria-label="Delete" >delete</mat-icon>
          </button>
        </div>
        </td>
      </ng-container>

      <!-- Table rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <!-- <mat-divider></mat-divider> -->
    <!-- Paginator -->
    <!-- <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="take"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator> -->

  </div>
</div>