<div class="header-container">
    <h2>Chart Of Account </h2>
  </div>
  <div class="body-container">
<div class="row row-gap-4">
    <div class="col-lg-6">
        <div class="card">
            <app-accountcategory-list></app-accountcategory-list>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <app-accountsubcategory-list></app-accountsubcategory-list>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <app-accountType-list></app-accountType-list>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <app-account-list></app-account-list>
        </div>
    </div>
</div></div>