<mat-card>
  <mat-card-header><mat-card-title>View Referrer</mat-card-title></mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="form-field">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" readonly />
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" readonly />
      </mat-form-field>
      <mat-form-field class="form-field">
        <mat-label>Active</mat-label>
        <mat-select formControlName="isActive" >
          <mat-option [value]="true">Active</mat-option>
          <mat-option [value]="false">Inactive</mat-option>
        </mat-select>
      </mat-form-field>
    </form>
  </mat-card-content>
</mat-card>
