
<div class="card">
    <div class="card-header">
        <div class="header-container">
            <div class="card-title">Print Account Review (Sale)</div>
            <div>
                <button  mat-flat-button color="primary" type="button" class="print-button mr-2" (click)="printDocument()">
                    <span class="mat-button-wrapper">Print</span>
                </button>
                <button mat-flat-button color="default" [mat-dialog-close]="true">
                    <span class="mat-button-wrapper">Close</span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body" id="printDoc">
        <div class="container printCont">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="row m-0 mb-3">
                            <div class="col-md-4 left_side">
                                <div class="logo mb-4">
                                    <img [src]="this.data.element.createdBy.department.company.logo" width="70px" height="70px" alt="CompanyImage">
                                    <span>{{this.data.element.createdBy.department.company.name}}</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="col-md-12">
                                    <h2 style="font-weight: 600;"> <span style="border-bottom: 2px solid;">Goods Received Note</span> </h2>
                                </div>
                            </div>
                            <div class="col-md-4 right_side">
                                <table class="top_right">
                                    <tr>
                                        <th>AuditReview No.</th>
                                        <td>{{this.data.element.code}}</td>
                                    </tr>
                                    <tr>
                                        <th>AuditReview Date</th>
                                        <td>{{this.data.element.createdDate | date : 'shortDate'}}</td>
                                    </tr>
                                    <tr>
                                        <th>Inspection No.</th>
                                        <td>{{this.data.element.inspection.code}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="col-md-12 p-0">
                            <table class="table_one">
                                <colgroup>
                                    <col span="1" style="width:10px">
                                    <col span="1" style="width:230px">
                                    <col span="1" style="width:50px">
                                    <col span="1" style="width:100px">
                                </colgroup>
                                <thead>
                                <tr>
                                    <th>Sr.#</th>
                                    <th>Item</th>
                                    <th>Quantity (Inspection)</th>
                                    <th>Received Quantity</th>
                                    <th>Expire Date</th>
                                    <th>Batch #</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let detail of this.data.element.auditreviewDetail; let i = index">
                                    <td>
                                        {{i + 1}}
                                    </td>
                                    <td>
                                        {{detail?.inspectionDetail.igpDetail?.purchaseOrderDetail?.purchaseDemandDetail?.item.name}}
                                    </td>
                                    <td>
                                        {{detail?.inspectionDetail?.approved}}
                                    </td>
                                    <td>
                                        {{detail?.received}}
                                    </td>
                                    <td>
                                        {{detail.expireDate | date : 'shortDate' }}
                                      </td>
                                      <td>
                                        {{detail.refernace || ''}}
                                      </td>
                                </tr>
                                <tr *ngFor="let blank of [].constructor(15 - this.data.element.auditreviewDetail.length); let j = index">
                                    <td>
                                        {{this.data.element.auditreviewDetail.length + j + 1}}
                                    </td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="remarks mt-3">
                                <span class="fw-bold" style="margin-right: 5px;">Remarks:</span>
                                <span>{{this.data.element.remarks}}</span>
                            </div>
                            <table class="mt-2">
                              <tbody><tr class="dates">
                                  <td style="background-color:#d9d9d9;">
                                      <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Created By</p>
                                  </td>
                                  <td style="background-color:#d9d9d9;">
                                      <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Created Date</p>
                                  </td>
                                  <td style="background-color:#d9d9d9;">
                                      <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Proceeded By</p>
                                  </td>
                                  <td style="background-color:#d9d9d9;">
                                      <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Proceeded Date</p>
                                  </td>
                              </tr>
                              <tr class="sign">
                                  <td class="no_border">{{this.data.element.createdBy?.firstName + ' ' +this.data.element.createdBy?.lastName}}</td>
                                  <td class="no_border">{{this.data.element.createdDate | date : 'shortDate' }}</td>
                                  <td class="">{{this.data.element.processedBy?.firstName + ' ' +this.data.element.processedBy?.lastName}}</td>
                                  <td class="no_border">{{this.data.element.processedDate | date : 'shortDate' }}</td>
                              </tr>
                              <tr class="dates">
                                  <td style="background-color:#d9d9d9;" colspan="2">
                                      <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Approved By</p>
                                  </td>
                                  <td style="background-color:#d9d9d9;border-left: 1px solid;" colspan="2">
                                      <p style="color: rgb(0, 0, 0); font-weight: 600; text-align: left;;">Approved Date</p>
                                  </td>
                              </tr>
                              <tr class="sign">
                                  <td class="no_border" colspan="2">{{this.data.element.approvedBy?.firstName + ' ' +this.data.element.approvedBy?.lastName}}</td>
                                  <td class="" colspan="2">{{this.data.element.approvedDate | date : 'shortDate' }}</td>
                              </tr>
                          </tbody></table>
                            <div class="print_date mt-5">
                                <div><b>Print Date:</b></div>
                                <div>{{currentDate}}</div>
                                <div><b>Print Time:</b></div>
                                <div>{{currentTime}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="button-container m-0">
            <button mat-flat-button color="default" [mat-dialog-close]="true">
              <span class="mat-button-wrapper">Close</span>
            </button>
          </div>
    </div>
</div>

