<mat-card>
  <mat-card-header>
    <mat-card-title> View Account  </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="accountViewForm" >
      <input type="hidden" formControlName="id" />
      <div  class="row justify-content-center">
        <div class="col-md-3">
      <mat-form-field appearance="outline"  style="width: 100%;">
        <mat-label>Code</mat-label>
        <input matInput formControlName="code" type="text" readonly class="text-center">
      </mat-form-field>
    </div>
  </div>
      
  <div class="row"> 
    <div class="col-md-6">
      <mat-form-field  class="form-field">
        <mat-label>Category</mat-label>
        <input matInput [value]="this.data.element.accountType.accountSubCategory.accountCategory.code + ' : ' + this.data.element.accountType.accountSubCategory.accountCategory.name" type="text" readonly>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field  class="form-field">
        <mat-label>Sub Category</mat-label>
        <input matInput [value]="this.data.element.accountType.accountSubCategory.code + ' : ' + this.data.element.accountType.accountSubCategory.name" type="text" readonly>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field  class="form-field">
        <mat-label>Account Type</mat-label>
        <input matInput [value]="this.data.element.accountType.code + ' : ' + this.data.element.accountType.name" type="text" readonly >
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field  class="form-field">
        <mat-label>Account Flow</mat-label>
        <input matInput [value]="this.data.element.accountFlow.code + ' : ' + this.data.element.accountFlow.name" type="text" readonly>
      </mat-form-field>
    </div>
  
    <div class="col-md-6">
      <mat-form-field  style="width: 100%;">
        <mat-label>Name</mat-label>
        <input matInput [value]="this.data.element.name" type="text" readonly>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field  style="width: 100%;">
        <mat-label>Opening Balance</mat-label>
        <input matInput [value]="this.data.element.opening" type="number" readonly>
      </mat-form-field>
    </div>
    <div class="col-md-12">
      <mat-form-field  style="width: 100%;">
        <mat-label>Description</mat-label>
        <input matInput [value]="this.data.element.description" type="text" readonly>
      </mat-form-field>
    </div>
  </div>
    <mat-divider></mat-divider>

      <div class="button-container">
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
    </form>

  </mat-card-content>
</mat-card>