  <mat-card>
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>Process Indent Request</mat-card-title>
        <span class="badge badge-created" matTooltip="Status">{{ this.isEditMode == true ?
          this.data.element.status.title
          : this.indentrequestForm.get('statusName')?.value}}</span>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <input type="hidden" formControlName="id" />
      <div class="row justify-content-center">
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Code</mat-label>
            <input matInput [value]="this.data.element.code" tabindex="-1">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Date</mat-label>
            <input matInput [value]="this.data.element.createdDate | date : 'shortDate'" tabindex="-1">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Required Date</mat-label>
            <input matInput [value]="this.data.element.requiredDate | date : 'shortDate'" tabindex="-1">
          </mat-form-field>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-md-12">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Sr.#</th>
                  <th>Item</th>
                  <th>UOM</th>
                  <th>Required (Qty)</th>
                  <th>Description</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let detail of this.data.element.indentRequestDetail; let i = index">
                <!-- UOM Column -->
                        <td style="width: 10px;">
                            {{i + 1}}
                        </td>
                  <!-- Item Column -->
                  <td>
                    <mat-form-field style="width: 500px;">
                      <input matInput [matTooltip]="detail.item.name"  [value]="detail.item.name" tabindex="-1" readonly  />
                    </mat-form-field>
                  </td>
            
                  <!-- UOM Column -->
                  <td>
                    <mat-form-field style="width: 100px;">
                     <input matInput [value]="detail.item.uom.name" tabindex="-1" readonly  />
                    </mat-form-field>
                  </td>
            
                  <!-- Required Column -->
                  <td>
                    <mat-form-field  style="width: 100px;">
                      <input matInput [value]="detail.required" tabindex="-1" readonly  />
                    </mat-form-field>
                  </td>
            
                  <!-- Description Column -->
                  <td>
                    <mat-form-field style="width: 195px;">
                      <input matInput [value]="detail.description" tabindex="-1" readonly  />
                    </mat-form-field>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="button-container">
        <button mat-flat-button color="success" type="button" (click)="process()" tabindex="-1">
          <span class="mat-button-wrapper">Process</span>
        </button>
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>