.header-container {
  width: 100%;
  border-bottom: 0;
  padding: 0;
}

.shipto{
  font-size: 14px;
}

.shipto th,
.shipto td{
  vertical-align: baseline;
}


.items_nmbr{
  width: 20px;
  height: 20px;
  background: var(--primary-color);
  border-radius: 50%;
  color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
}


.mat-slide-toggle-thumb {
  width: 10px !important;
  height: 10px !important;
  transform: translate(50%, 50%);
}

.mat-slide-toggle-bar {
background-color: #000;
border-radius: 15px !important;
height: 16px !important;
}

.mat-slide-toggle-thumb-container {
top: -2px !important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
background-color: #000;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
background-color: #fff;
}