<form [formGroup]="purchaseorderForm">
  <mat-card>
    <mat-card-header>
      <div class="header-container">
        <mat-card-title>Purchase Order Form</mat-card-title>
        <div>
          <mat-slide-toggle matTooltip="With Quotation PO" formControlName="iscspo" color="primary"
            (change)="applyRates($event)"></mat-slide-toggle>
          <span class="badge badge-created" matTooltip="Status">{{ this.isEditMode == true ?
            this.data.element.status.title
            : this.purchaseorderForm.get('statusName')?.value}}</span>
        </div>
      </div>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <input type="hidden" formControlName="id" />
      <div class="row w-100">
        <div class="col-md-3">
          <table class="text-left mb-4 shipto">
            <colgroup>
              <col span="1" style="width: 100px;">
              <col span="1" style="width: 200px;">
            </colgroup>
            <tr>
              <th>PO No. :</th>
              <td>{{this.purchaseorderForm.get('code')?.value}}</td>
            </tr>
            <tr>
              <th>PO Date :</th>
              <td>{{this.purchaseorderForm.get('createdDate')?.value | date : 'shortDate'}}</td>
            </tr>
          </table>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-field">
            <mat-label>Vendor</mat-label>
            <mat-select formControlName="vendorId" (selectionChange)="vendorChange($event)">
              <mat-option *ngFor="let vendor of vendorList" [value]="vendor.id">
                <span style="font-weight: 900;"> {{ vendor.name }} </span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <table class="text-left mb-4 shipto">
            <colgroup>
              <col span="1" style="width: 150px;">
              <col span="1" style="width: 200px;">
              <col span="1" style="width: 100px;">
              <col span="1" style="width: 200px;">
            </colgroup>
            <tr>
              <th>Credit Days :</th>
              <td> {{this.selectedVendor?.creditDays}}</td>
              <th>NTN :</th>
              <td> {{this.selectedVendor?.ntn}}</td>
            </tr>
            <tr>
              <th>Phone :</th>
              <td> {{this.selectedVendor?.phone}}</td>
              <th>Address :</th>
              <td> {{this.selectedVendor?.address}}</td>
            </tr>
          </table>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="row mt-4">

        <div class="col-md-3">
          <mat-form-field class="form-field">
            <mat-label>Payment Mode</mat-label>
            <mat-select formControlName="paymentModeId">
              <mat-option *ngFor="let paymentMode of paymentModeList" [value]="paymentMode.id">
                {{ paymentMode.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Currency</mat-label>
            <mat-select formControlName="currencyId">
              <mat-option *ngFor="let currency of currencyList" [value]="currency.id">
                {{ currency.name }} <span style="color:red">{{ currency.symbol }}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Ref #</mat-label>
            <input matInput formControlName="refNo" type="text">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field>
            <mat-label>Delivery Date</mat-label>
            <input matInput [matDatepicker]="deliveryDate" formControlName="deliveryDate" [min]="yesterday">
            <mat-datepicker-toggle matIconSuffix [for]="deliveryDate"></mat-datepicker-toggle>
            <mat-datepicker #deliveryDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-field">
            <mat-label>Shipment Mode</mat-label>
            <mat-select formControlName="shipmentModeId">
              <mat-option *ngFor="let shipmentMode of shipmentModeList" [value]="shipmentMode.id">
                {{ shipmentMode.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-field">
            <mat-label>Delivery Term</mat-label>
            <mat-select formControlName="deliveryTermsId">
              <mat-option *ngFor="let deliveryTerm of deliveryTermsList" [value]="deliveryTerm.id">
                {{ deliveryTerm.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Delivery Charges</mat-label>
            <input matInput formControlName="deliveryCharges" type="number" min="0" (change)="calculateTotals()">
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Other Charges</mat-label>
            <input matInput formControlName="otherCharges" type="number" min="0" (change)="calculateTotals()">
          </mat-form-field>
        </div>

        <div class="col-md-2">
          <mat-radio-group matTooltip="Discount Type"  aria-label="Select an option" (change)="onRadioButtonChange($event)">
            <mat-radio-button value="true" checked="true">Fix</mat-radio-button>
            <mat-radio-button value="false">Percent</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md-3">
          <mat-form-field class="form-field">
            <mat-label>Discount</mat-label>
            <input matInput formControlName="discount" type="number" min="0" (change)="calculateTotals()">
          </mat-form-field>
        </div>
        <!-- <div class="col-md-5">
          <mat-form-field class="form-field">
            <mat-label>Note</mat-label>
            <input matInput formControlName="note" type="text" readonly>
          </mat-form-field>
        </div> -->
      </div>
      <mat-divider></mat-divider>
      <div formArrayName="purchaseOrderDetail">
        <div class="card mt-2 mb-2" *ngFor="let detail of purchaseOrderDetail.controls; let i = index"
          [formGroupName]="i">
          <div class="card-body m-0">
            <div class="row">
              <div class="col-md-1">
                <div class="action_btns">
                  <span class="items_nmbr" matTooltip="Sr.#" style="cursor: pointer;">{{i + 1}}</span>
                  <mat-icon aria-label="Edit" matTooltip="Add" class="icons add"
                    (click)="addPurchaseOrderDetail(i)">add</mat-icon>
                  <mat-icon aria-label="Delete" matTooltip="Delete" class="icons delete"
                    (click)="removePurchaseOrderDetail(i)">delete</mat-icon>
                </div>
              </div>
              <div class="col-md-2">
                <div class="row m-0 align-items-center">
                  <input type="hidden" formControlName="id" />
                  <input type="hidden" formControlName="purchaseOrderId" />
                  <mat-form-field class="form-field">
                    <mat-label>Demand #</mat-label>
                    <mat-select formControlName="purchaseDemandId">
                      <mat-option value="">--Select--</mat-option>
                      <mat-option *ngFor="let demand of demandList" [value]="demand.id"
                        (onSelectionChange)="getPendingDemandItemList($event,i)">
                        {{ demand.code }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-md-4">
                <mat-form-field class="form-field">
                  <mat-label>Item</mat-label>
                  <mat-select formControlName="purchaseDemandDetailId">
                    <mat-option value="">--Select--</mat-option>
                    <mat-option *ngFor="let pendingindentItem of this.getIndexValue(i)?.itemList"
                      [value]="pendingindentItem.id" (onSelectionChange)="onOptionSelected($event, i)">
                      {{ pendingindentItem.item.code }} : {{ pendingindentItem.item.name }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-5">
                <div class="selected_val">
                  UOM : <span>{{this.getIndexValue(i).item?.item?.uom?.name || ''}}</span>
                  Pending Qty : <span>{{ this.getIndexValue(i).item.demandQty}}</span>
                  Project : <span>{{this.getIndexValue(i).item.project?.name || ''}}</span>
                </div>
                <div class="selected_val">
                  Department : <span>{{this.getIndexValue(i).item.department?.name || ''}}</span>
                  Description : <span>{{this.getIndexValue(i).item.description || ''}}</span>
                </div>
              </div>
              <div class="col-md-1">
              </div>
              <div class="col-md-2">
                <mat-form-field class="form-field m-0 mb_input">
                  <mat-label>Quantity</mat-label>
                  <input matInput formControlName="quantity" type="number" min="0"
                    (change)="validateQty(i);calculateAmt(i);">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="form-field m-0 mb_input">
                  <mat-label>Rate</mat-label>
                  <input matInput formControlName="unitRate" type="number" min="0" [readonly]="this.iscswise"
                    (change)="calculateAmt(i);">
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field class="form-field m-0 mb_input">
                  <mat-label>Amount</mat-label>
                  <input matInput formControlName="value" type="number" min="0" readonly>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <mat-slide-toggle matTooltip="Apply Sale Tax" formControlName="isgst" color="primary"
                        (change)="calculateGst($event,i)"></mat-slide-toggle>
                    </span>
                  </div>
                  <input matTooltip="Sale Tax Amount" formControlName="gst" class="form-control" readonly>
                </div>
              </div>
              <div class="col-md-2">
                <mat-form-field class="form-field m-0 mb_input">
                  <mat-label>FED</mat-label>
                  <input matInput formControlName="fed" type="number" min="0" (change)="validateQty(i)">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <mat-form-field class="form-field">
            <mat-label>Remarks</mat-label>
            <input matInput formControlName="remarks" type="text">
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Total Amount</mat-label>
            <input matInput type="text" [value]="this.tAmount" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Total Discount</mat-label>
            <input matInput type="text" [value]="this.tDiscount" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Total Expense</mat-label>
            <input matInput type="text" [value]="this.tExpense" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Total SaleTax</mat-label>
            <input matInput type="text" [value]="this.tSaleTax" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Party Amount</mat-label>
            <input matInput type="text" [value]="this.partyAmount" readonly>
          </mat-form-field>
        </div>
        <div class="col-md-2">
          <mat-form-field class="form-field">
            <mat-label>Net Amount</mat-label>
            <input matInput type="text" [value]="this.netAmount" readonly>
          </mat-form-field>
        </div>
      </div>
      <mat-divider></mat-divider>
      <div class="button-container">
        <button mat-flat-button color="success" type="button" (click)="SaveData()">
          <span class="mat-button-wrapper">Save</span>
        </button>
        <button mat-flat-button color="default" [mat-dialog-close]="true">
          <span class="mat-button-wrapper">Close</span>
        </button>
      </div>
    </mat-card-content>
  </mat-card>
</form>