.print-roster-dialog {
  padding: 12px;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 12px;
}

.print-sheet {
  background: #fff;
  color: #111;
  width: 100%;
}

.sheet-header {
  margin-bottom: 12px;
}

.sheet-header h2 {
  margin: 0 0 6px 0;
  font-size: 20px;
  font-weight: 700;
}

.meta {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  font-size: 13px;
}

.table-wrap {
  overflow: auto;
}

.roster-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  table-layout: fixed;
}

.roster-table th,
.roster-table td {
  border: 1px solid #333;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
}

.emp-col,
.emp-cell {
  text-align: left !important;
  min-width: 180px;
  white-space: normal; /* IMPORTANT: allow multi-line */
}

.emp-name {
  font-weight: 600;
  line-height: 1.4;
  font-size: 12px;
  margin-bottom: 3px;
  display: block;
}

.emp-code {
  font-size: 11px;
  color: #555;
}

.morning-cell {
  background: #e8f7e8;
}

.evening-cell {
  background: #fff3d9;
}

.night-cell {
  background: #e3edff;
}

.off-cell {
  background: #ffe3e3;
  font-weight: 700;
}

@media print {
  @page {
    size: A4 landscape;
    margin: 6mm;
  }

  html,
  body {
    width: 100%;
    height: auto;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden !important;
  }

  .no-print {
    display: none !important;
  }

  .print-roster-dialog {
    padding: 0;
  }

  .print-sheet {
    width: 285mm;
    max-width: 100%;
  }

  .roster-table {
    font-size: 9px;
    vertical-align: middle;
  }

  .roster-table th,
  .roster-table td {
    padding: 2px;
  }

  .sheet-header h2 {
    font-size: 14px;
  }

  .meta {
    font-size: 10px;
    gap: 8px;
  }

  .emp-col,
  .emp-cell {
    min-width: 90px;
  }

   .emp-cell{
    min-height: 40px;
   }

  .emp-name {
    font-size: 8px;
    height: 100px;
  }

  .emp-code {
    font-size: 8px;
  }

  .roster-table tr,
  .roster-table td,
  .roster-table th {
    page-break-inside: avoid !important;
  }
}
