<div class="card">
  <div class="card-header">
    <h4 class="card-title">Create Sales Target</h4>
  </div>
  <form [formGroup]="createSalesTargetForm">
    <div class="card-body">
      <div class="row">

        <div class="offset-md-3 col-md-6">
          <div class="mb-3">
            <mat-form-field>
              <mat-label>Zone</mat-label>
              <mat-select formControlName="zoneId">
                <mat-option [value]=0>-- Select --</mat-option>
                <mat-option *ngFor="let option of zoneList" [value]="option.id">{{option.name}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field>
              <mat-label>Target Month</mat-label>
              <input type="month" matInput formControlName="targetMonth" />
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-6">
          <div class="mb-3">
            <mat-form-field>
              <mat-label>Target</mat-label>
              <input type="number" min="1"  matInput formControlName="target" />
            </mat-form-field>
          </div>
        </div>

      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-success" data-bs-dismiss="modal" (click)="saveSalesTarget()">
        Save
      </button>
      <button [mat-dialog-close]="true" class="btn btn-danger ml-2" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </form>
</div>