.header-container {
  justify-content: space-between; /* Align buttons to the right */
  width: 100%;
  border-bottom: 0;
  padding: 0;
}
.card{
  margin-bottom: 1rem;
}
.card:last-child{
  margin-bottom: 0;
}
.items_nmbr{
  width: 25px;
  height: 25px;
  background: var(--primary-color);
  border-radius: 50%;
  color: var(--white-color);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}