  <div class="mat-elevation-z8 table-responsive">
    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Columns -->

      <ng-container matColumnDef="itemType">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>  Comparative Statement </th>
        <td mat-cell *matCellDef="let element"> {{ element.itemType.code }} : {{ element.itemType.name }} </td>
      </ng-container>

      <ng-container matColumnDef="code">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code </th>
        <td mat-cell *matCellDef="let element"> {{ element.code }} </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdDate | date : 'shortDate' }} </td>
      </ng-container>

      <ng-container matColumnDef="requiredDate">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Required Date </th>
        <td mat-cell *matCellDef="let element"> {{ element.requiredDate | date : 'shortDate' }} </td>
      </ng-container>

      <ng-container matColumnDef="store">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Store </th>
        <td mat-cell *matCellDef="let element"> {{ element.store?.name}} </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Created By </th>
        <td mat-cell *matCellDef="let element"> {{ element.createdBy?.firstName + ' ' + element.createdBy?.lastName }} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{ element.status?.title }} </td>
      </ng-container>

      <!-- Actions column definition -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef style="width: 11%;"> Actions </th>
        <td mat-cell *matCellDef="let element">
          <div class="action_btns">
          <button mat-mini-fab matTooltip="Edit" color="primary" *ngIf="element.statusId == 1" (click)="openComparativeStatementDialog(element)">
            <mat-icon aria-label="Edit" >edit</mat-icon>
          </button>
          
          <button mat-mini-fab matTooltip="View" color="dark" (click)="viewComparativeStatementDialog(element)">
            <mat-icon aria-label="View" >visibility</mat-icon>
          </button>

          <button mat-mini-fab matTooltip="Delete" color="warn" *ngIf="element.statusId == 1" (click)="deleteComparativeStatementDialog(element)">
            <mat-icon aria-label="Delete" >delete</mat-icon>
          </button>

          <button mat-mini-fab matTooltip="Process To Manager" *ngIf="element.statusId == 1" color="success" (click)="processComparativeStatementDialog(element)">
            <mat-icon aria-label="Delete" >send</mat-icon>
          </button>

          <button mat-mini-fab matTooltip="Approve" *ngIf="element.statusId == 2 && roleList?.includes('manager')" color="success" (click)="approveComparativeStatementDialog(element)">
            <mat-icon aria-label="Delete" >send</mat-icon>
          </button>
          
          <button mat-mini-fab matTooltip="Print" *ngIf="element.statusId == 3" color="success" (click)="printComparativeStatementDialog(element)">
            <mat-icon aria-label="Delete" >print</mat-icon>
          </button>
        </div>
        </td>
      </ng-container>

      <!-- Table rows -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-divider></mat-divider>
    <!-- Paginator -->
    <mat-paginator #paginator [length]="totalRows" [pageIndex]="currentPage" [pageSize]="take"
      [pageSizeOptions]="pageSizeOptions" (page)="pageChanged($event)" aria-label="Select page">
    </mat-paginator>
  </div>