<mat-card>
  <mat-card-header>
    <mat-card-title>{{ isEditMode ? 'Edit Referrer' : 'Add Referrer' }}</mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field class="form-field">
        <mat-label>Name *</mat-label>
        <input matInput formControlName="name" placeholder="Enter name" />
        <mat-error *ngIf="form.get('name')?.hasError('required')">Name is required</mat-error>
      </mat-form-field>

        <mat-form-field class="form-field">
        <mat-label>Hospital</mat-label>
        <input matInput formControlName="hospital" placeholder="Enter Hospital" />
      </mat-form-field>

       <mat-form-field class="form-field">
        <mat-label>Phone #</mat-label>
        <input matInput formControlName="phoneNo" placeholder="Enter Phone #" />
      </mat-form-field>

            <div class="row mt-2">
        <div class="col-md-6">
             <div class="accountwrap">
                    <mat-checkbox
                    class="example-margin"
                    formControlName="isGroup"
                    (change)="showOptions($event)"
                    matTooltip="Group"
                  >
                  </mat-checkbox>
                    <mat-form-field  *ngIf="!this.form.get('isGroup')?.value">
                      <input matInput formControlName="accountName" [matAutocomplete]="auto"
                        (keyup)="getAccountList($event);" class="form-control" (input)="onAccountCleared($event)"
                        type="search"
                        [matTooltip]="this.form.get('account')?.value ? this.form.get('account')?.value.code + ' : ' + this.form.get('account')?.value.name : 'No Account Selected'" />
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionAccountSelected($event)">
                        <mat-option *ngFor="let account of accountList" [value]="account">
                          {{ account?.code }} : {{ account?.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field  *ngIf="this.form.get('isGroup')?.value">
                      <input matInput formControlName="accountGroupName" [matAutocomplete]="auto"
                        (keyup)="getAccountGroupList($event);" class="form-control" (input)="onAccountCleared($event)"
                        type="search"
                        [matTooltip]="this.form.get('accountGroup')?.value ? this.form.get('accountGroup')?.value.code + ' : ' + this.form.get('accountGroup')?.value.name : 'No Group Account Selected'" />
                      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionGroupSelected($event)">
                        <mat-option *ngFor="let account of accountGroupList" [value]="account">
                          {{ account?.code }} : {{ account?.name }}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
        </div>
      </div>

      <div class="button-container">
        <button mat-flat-button color="primary" type="button" (click)="save()" [disabled]="isLoading || form.invalid">
          {{ isEditMode ? 'Update' : 'Save' }}
        </button>
        <button mat-flat-button [mat-dialog-close]="true">Cancel</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
