<div class="header-container">
  <h2>Admission</h2>
  <button
    mat-mini-fab
    aria-label="Add"
    color="success"
    (click)="openAdmissionDialog(null)"
    matTooltip="New Admission">
    <mat-icon>add</mat-icon>
  </button>
</div>

<div class="body-container">
    <!-- Filter Section -->
     <div class="filter-section" [formGroup]="AdmissionFilterForm">
  <div class="row">
     <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>From Date</mat-label>
        <input matInput [matDatepicker]="fromPicker" formControlName="fDate" placeholder="Start date" (dateChange)="filterData()" />
        <mat-datepicker-toggle matIconSuffix [for]="fromPicker"></mat-datepicker-toggle>
        <mat-datepicker #fromPicker></mat-datepicker>
        <mat-icon matPrefix>event</mat-icon>
      </mat-form-field>
    </div>

    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>To Date</mat-label>
        <input matInput [matDatepicker]="toPicker" formControlName="tDate" placeholder="End date" (dateChange)="filterData()" />
        <mat-datepicker-toggle matIconSuffix [for]="toPicker"></mat-datepicker-toggle>
        <mat-datepicker #toPicker></mat-datepicker>
        <mat-icon matPrefix>event</mat-icon>
      </mat-form-field>
    </div>
    <div class="col-lg-2 col-md-3 col-sm-6 col-12">
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Token #</mat-label>
        <input matInput formControlName="tokenNo" placeholder="Search by token number" (keyup)="filterData()" />
        <mat-icon matSuffix>confirmation_number</mat-icon>
      </mat-form-field>
    </div>
    
    <div class="col-lg-2 col-md-2 col-sm-7 col-12">
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Patient Name</mat-label>
        <input matInput formControlName="name" placeholder="Search by patient name" (keyup)="filterData()" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-12">
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>MRN #</mat-label>
        <input matInput formControlName="mRN" placeholder="Search by MRN" (keyup)="filterData()" />
        <mat-icon matSuffix>person</mat-icon>
      </mat-form-field>
    </div>
    
    <div class="col-lg-2 col-md-3 col-sm-6 col-12">
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Department</mat-label>
        <mat-select formControlName="departmentId" (selectionChange)="filterData()">
          <mat-option [value]="null">ALL Department</mat-option>
            <mat-option *ngFor="let department of departments" [value]="department.id">
                  {{ department.name }}
                </mat-option>
        </mat-select>
        <mat-icon matSuffix>science</mat-icon>
      </mat-form-field>
    </div>
    
    <div class="col-lg-2 col-md-3 col-sm-6 col-12">
      <mat-form-field class="filter-field" appearance="outline">
        <mat-label>Status</mat-label>
        <mat-select formControlName="statusId" (selectionChange)="filterData()">
          <mat-option [value]="null">All</mat-option>
          <mat-option [value]="30">Admitted</mat-option>
          <mat-option [value]="31">Bed Assigned</mat-option>
          <mat-option [value]="20">Cancelled</mat-option>
        </mat-select>
        <mat-icon matSuffix>flag</mat-icon>
      </mat-form-field>
    </div>
  </div>
</div>

<div class="mat-elevation-z8 table-responsive">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Appointment Date -->
    <ng-container matColumnDef="admissionDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Admission Date</th>
      <td mat-cell *matCellDef="let element"> {{ element.admissionDate | date:'short' }} </td>
    </ng-container>

    <!-- Patient -->
    <ng-container matColumnDef="patient">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Patient</th>
      <td mat-cell *matCellDef="let element">
        {{ element.appointment?.patient?.patientMaster?.name }}
        <div class="muted">{{ element.appointment?.patient?.patientMaster?.phoneNo }}</div>
      </td>
    </ng-container>

  <!-- Patient -->
    <ng-container matColumnDef="mrn">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>MRN</th>
      <td mat-cell *matCellDef="let element">
        {{ element.appointment?.patient?.mrn }}
      </td>
    </ng-container>

    <!-- Token -->
    <ng-container matColumnDef="tokenNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Token</th>
      <td mat-cell *matCellDef="let element"> {{ element.appointment?.tokenNumber }} </td>
    </ng-container>

    <!-- Doctor -->
    <ng-container matColumnDef="doctor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Doctor</th>
      <td mat-cell *matCellDef="let element"> {{ element.appointment?.doctor?.firstName }} {{ element.appointment?.doctor?.lastName }} </td>
    </ng-container>

    <!-- Department -->
    <ng-container matColumnDef="department">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Department</th>
      <td mat-cell *matCellDef="let element"> {{ element.appointment?.department?.name }} </td>
    </ng-container>

    <!-- Reason -->
    <ng-container matColumnDef="referrer">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Referrer</th>
      <td mat-cell *matCellDef="let element"> {{ element.appointment?.referrer?.name || 'N/A' }} </td>
    </ng-container>
    
    <!-- Reason -->
    <ng-container matColumnDef="bed">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Bed</th>
      <td mat-cell *matCellDef="let element"> 
         {{ formatBed(element) }}
      </td>
    </ng-container>

    <!-- Status -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element"> {{ element.status?.title }} </td>
    </ng-container>

    <!-- Actions -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 11%;">Actions</th>
      <td mat-cell *matCellDef="let element">
        <div class="action_btns">
       <!--    <button
            mat-mini-fab
            matTooltip="Book & Confirm"
            *ngIf="element.appointmentStatusId == 1"
            color="success"
            (click)="openConfirmDialog(element)">
            <mat-icon aria-label="Confirm">check_circle</mat-icon>
          </button>
          <button
            mat-mini-fab
            matTooltip="Edit"
            *ngIf="element.appointmentStatusId == 1"
            color="primary"
            (click)="openAppointmentDialog(element)">
            <mat-icon aria-label="Edit">edit</mat-icon>
          </button>
      
            <button mat-mini-fab matTooltip="Print" *ngIf="element.appointmentStatusId > 1" color="pink"
            (click)="printAppoinmnetDialog(element)">
            <mat-icon aria-label="Print">print</mat-icon>
          </button> -->
         
                <button mat-mini-fab matTooltip="Receipt" color="primary"
            (click)="printrecreiptAdmissionDialog(element)">
            <mat-icon aria-label="Receipt">receipt</mat-icon>
          </button>
             <button mat-mini-fab matTooltip="Assign Bed" (click)="openAddAdmissionBedDialog(element)">
              <i class="fa-solid fa-bed-pulse"></i>
            </button>

             <button mat-mini-fab matTooltip="Services" (click)="openAddAdmissionServiceDialog(element)">
       <i class="fa-solid fa-notes-medical"></i>
            </button>

        </div>
      </td>
    </ng-container>

    <!-- Table rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-divider></mat-divider>

  <mat-paginator
    #paginator
    [length]="totalRows"
    [pageIndex]="currentPage"
    [pageSize]="pageSize"
    [pageSizeOptions]="pageSizeOptions"
    (page)="pageChanged($event)"
    aria-label="Select page">
  </mat-paginator>
</div>
</div>
