<div class="card">
  <div class="card-header">
    <h4 class="card-title">View Territory</h4>
  </div>
  <form [formGroup]="viewTerritoryForm">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <div class="mb-3">
            <mat-form-field style="width: 100%;">
              <mat-label>Region</mat-label>
              <input matInput [value]="this.data.element.area.zone.region.name" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div>
            <mat-form-field style="width: 100%;">
              <mat-label>Zone</mat-label>
              <input matInput [value]="this.data.element.area.zone.name" readonly />
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div>
            <mat-form-field style="width: 100%;">
              <mat-label>Area</mat-label>
              <input matInput [value]="this.data.element.area.name" readonly />
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-12">
          <div>
            <mat-form-field style="width: 100%;">
              <mat-label>Description</mat-label>
              <input matInput [value]="this.data.element.description" readonly />
            </mat-form-field>
          </div>
        </div>

        <div class="col-md-12">
          <div>
            <mat-form-field style="width: 100%;">
              <mat-label>Coordinates</mat-label>
              <textarea matInput placeholder="Coordinates" rows="4" [value]="this.data.element.coordinates" readonly>
                </textarea>
            </mat-form-field>
          </div>
        </div>
        <div class="col-md-12">
          <div class="mb-3">
            <button class="btn btn-primary" data-bs-dismiss="modal" (click)="viewTerritory()">
              <i class="fa fa-map-o"></i> View Territory
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button [mat-dialog-close]="true" class="btn btn-danger" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </form>
</div>