<div class="roster-view-page">
<!-- HEADER CARD -->
<div class="header-card">

  <div class="left">
    <h2>
      {{ roster?.department?.name }} - Roster
    </h2>

    <div class="sub">
      {{ roster?.year }} / {{ roster?.month }}
    </div>
      <!-- STATUS -->
  <div class="sub" [ngClass]="getStatusClass()">
    {{ roster?.status?.title }}
  </div>
  </div>



  <!-- CLOSE -->
  <button class="close-btn" (click)="close()">
    ✕
  </button>

</div>


  <!-- GRID -->
  <div class="table-wrap">

    <table class="roster-table">

      <!-- HEADER -->
      <thead>
        <tr>
          <th class="emp-col">Employee</th>
          <th *ngFor="let day of days">{{ day }}</th>
        </tr>
      </thead>

      <!-- BODY -->
      <tbody>

        <tr *ngFor="let emp of groupedRoster">

          <!-- Employee -->
          <td class="emp-cell">
            <div class="emp-name">{{ emp.employeeName }}</div>
            <div class="emp-code">{{ emp.employeeCode }}</div>
          </td>

          <!-- DAYS -->
          <td *ngFor="let day of days" [ngClass]="getCellClass(emp, day)">

            <ng-container *ngIf="getRosterCell(emp, day) as cell">

              <!-- OFF DAY -->
              <div *ngIf="cell.isOffDay" class="off-badge">
                OFF
              </div>

              <!-- SHIFT -->
              <div *ngIf="!cell.isOffDay"
                   class="shift-badge"
                   [ngClass]="shiftClass(cell)">
                {{ shiftText(cell) }}
              </div>

            </ng-container>

          </td>

        </tr>

      </tbody>
    </table>

  </div>

  <div class="legend-footer">
    <div class="leg-item" *ngFor="let item of getShiftLegend()">
      <strong>{{ item.code }}</strong> - {{ item.name }}
    </div>
    <div class="leg-item"><strong>OFF</strong> - Off Day</div>
  </div>

</div>
